body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('bggradient.svg') no-repeat, url('stripepattern.svg') repeat;
    background-size: 100% 100%, 80px 80px;
}

body, .content, .year {
    width: 100%;
    margin: 0;
    padding: 0;
}

.topHeader {
    width: 100%;
    padding: 15vh 0;
    text-align: center;
}

.topHeader p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
}

.h1Container {
    width: 100%;
    background: url('header.svg');
    padding: 10px 0;
    text-align: center;
    clear: both;
}



.entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.img {
    width: 50%;
    flex: 0 0 600px;
    order: 2;
    background-size: 100% 100%;
    opacity: .8;
}

.text {
    padding: 0 20px;
    flex: 1 0 0;
    order: 1;
}

#imgEngine {
    background-image: url('engine.gif');
}

#imgCC {
    background-image: url('chaoscave.gif');
    min-height: 300px;
}

#imgGd {
    background-image: url('grappledash.gif');
    min-height: 300px;
}

#imgNMC {
    background-image: url('nmc.png');
}

#imgDoS {
    background-image: url('tdos.png');
}

#imgFlash {
    background-image: url('flash.gif');
}

#imgOA {
    background-color: cyan;
}



a:link {
    color: #105020;
}

a:visited {
    color: #509050;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
    margin-top: 8px;
}

h2, h3 {
    background: linear-gradient(to right, rgba(226, 255, 59, .3), transparent);
    margin: 0 0 0 -20px;
    padding: 3px 0 3px 20px;
}

p {
    font-size: 20px;
}