body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content, .year {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.topHeader, .year {
    background: url('bggradient.svg') no-repeat, url('stripepattern.svg') repeat;
    background-size: 100% 100%, 80px 80px;
}

.topHeader {
    width: 100%;
    padding: 15vh 0;
    text-align: center;
}

.topHeader p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
}

.entry {
    width: 100%;
    margin-left: 20px;
}

.h1Container {
    width: 100%;
    background: url('header.svg');
    padding: 10px 0;
    text-align: center;
}

a:link {
    color: #105020;
}

a:visited {
    color: #509050;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 23px;
}

p {
    max-width: 50%;
    font-size: 20px;
}